<div class="hotel-offer-wrapper">
  <img #imgBoxed src="assets/img/hotels/hotel1.jpeg" class="offer-img materialboxed">
  <div class="container">
    <div class="offer">
      <div class="pros row">
        <div class="pro">Blisko miasta</div>
        <div class="pro">Z dala od miasta</div>
        <div class="pro">W centrum miasta</div>
      </div>
      <div class="bread-crumb">
        <ul>
          <li>Strona główna</li>
          <li>Hotele</li>
          <li>Nazwa hotelu</li>
        </ul>
      </div>
      <span>ale fajnie</span>
    </div>
  </div>
</div>