.hotel-offer-wrapper .container {
  position: relative;
}

.offer {
  position: absolute;
  top: -80px;
  width: 100%;
  padding: 30px 35px;
  background-color: white;
}

.offer-img {
  margin-top: 65px;
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.pros {
  display: inline-block;
  position: absolute;
  margin-bottom: 0px;
  top: -26px;
  left: 0px;
}

.pro {
  display: inline-block;
  padding: 6px 20px;
  line-height: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Roboto';
  color: white;
}

.pro:nth-of-type(1) {
  background: rgb(255, 166, 0);
}

.pro:nth-of-type(2) {
  background: rgb(88, 198, 248);
}

.pro:nth-of-type(3) {
  background: rgb(170, 75, 248);
}

.bread-crumb ul {
  margin-top: 0px;
}

.bread-crumb ul li {
  display: inline-block;
  color: black;
}

.bread-crumb ul li::after {
  content: "/";
  margin-right: 5px;
  margin-left: 5px;
}

.bread-crumb ul li:last-child::after {
  content: '';
}