<div class="hotels-list-item col s12">
  <div class="hotels-list-item__img col s3"></div>
  <div class="hotels-list-item__content col s9">
    <span class="hotel-name">Hotel dla zwierząt</span>
    <div class="icons">
      <i class="fas fa-dog"></i>
      <i class="fas fa-cat"></i>
      <i class="fas fa-horse"></i>
      <i class="fas fa-dove"></i>
      <i class="fas fa-frog"></i>
    </div>
    <div claa="row">
      <div class="pros col s5">
        <ul>
          <li><i class="fas fa-check"></i>blisko miasta</li>
          <li><i class="fas fa-check"></i>z dala od miasta</li>
          <li><i class="fas fa-check"></i>w centrum miasta</li>
        </ul>
      </div>
      <div class="information col s3">
        <ul>
          <li><i class="far fa-calendar-alt"></i>czas pobytu</li>
          <li><i class="fas fa-map-marker-alt"></i>lokalizacja</li>
        </ul>
      </div>
      <div class="go-to-offer-button-wrapper col s4">
        <p class="rental_price">250zł.</p>
        <p class="price-text">cena za dzień</p>
        <button class="btn waves-effect waves-light go-to-offer-button">Wynajmij
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
</div>