<div class="landing">
  <video loop muted autoplay src="assets/video/landing_video.mp4" class="landing__hero"></video>

  <div class="landing__content">
    <h2>Wszystko dla Twoich zwierząt</h2>
    <p>Najlepsze hotele dla zwierząt w mieście</p>

    <div class="landing__buttons">
      <a routerLink="/vivariums"><i class="fas fa-hotel"></i>HOTELE DLA ZWIERZĄT</a>
      <a routerLink="/terrariums"><i class="fas fa-users"></i>PRYWATNE OGŁOSZENIA</a>
    <!--<a routerLink="/accessories"><i class="far fa-lg fa-lightbulb"></i>AKCESORIA</a>-->
    </div>
  </div>

  <div class="landing__footer">
    <a routerLink="/">&copy; 2019 AniMotel</a><span>&bull;</span>
    <a routerLink="/contact-us">Kontakt</a><span>&bull;</span>
    <a href="#">Polityka prywatności</a><span>&bull;</span>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
  </div>
</div>
