<div id="footer" class="row" [ngClass]="footerClasses()">
  <div class="newsletter">
    <div class="container">
      <div class="text col s4">
        <h1>Bądź na bieżąco</h1>
        <span>Zapisz się do newslettera!</span>
      </div>
      <div class="email valign-wrapper col s8">
        <div class="input-field col s4">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="save-newsletter-button-wrapper col s8">
          <button class="btn waves-effect waves-light save-newsletter-button">Zapisz się
            <i class="material-icons right">mail_outline</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="about-us col s3">
        <h6>AniMotel</h6>
        <ul>
          <li>O nas</li>
          <li>Centrum pomocy</li>
          <li>Kontakt</li>
        </ul>
      </div>
      <div class="booking col s3">
        <h6>Rezerwacja</h6>
        <ul>
          <li>Jak rezerwować</li>
          <li>Rezygnacja z rezerwacji</li>
        </ul>
      </div>
      <div class="terms-of-use col s4">
        <h6>Regulamin</h6>
        <ul>
          <li>Polityka prywatności</li>
        </ul>
      </div>
      <div class="social-buttons valign-wrapper col s2">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-google-plus-g"></i>
      </div>
    </div>
  </div>
</div>