.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.landing__hero {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.landing__content {
  margin: -250px auto 0;
  text-align: center;
  color: white;
}

.landing__content > h2 {
  font-size: 55px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
}

.landing__content > p {
  font-size: 21px;
  margin: 30px 0 50px;
}

.landing__content > a {
  display: inline-block;
  margin-top: 25px;
  font-size: 9pt;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: white;
  letter-spacing: 2pt;
  text-decoration: none;
}

.landing__content > a::after {
  content: "\25B8"
}

.landing__content > a:hover {
  color: #ffffff73;
}

.landing__buttons {
  display: flex;
  justify-content: center;
}

.landing__buttons > * {
  margin: 0 10px;
}

.landing__buttons a {
  padding: 10px 30px;
  border: 1px solid white;
  cursor: pointer;
}

.landing__buttons a:hover {
  color: #333;
  background-color: white;
}

.landing__buttons svg {
  margin-right: 10px;
}

.landing__footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-bottom: 15px;
}

.landing__footer a {
  font-size: 10pt;
  color: white;
  cursor: pointer;
}

.landing__footer span {
  padding: 0 15px;
  color: rgba(255, 255, 255, 0.5);
}

.landing__footer svg {
  font-size: 10pt;
  color: white;
  margin-right: 15px;
  cursor: pointer;
}

.landing__buttons a {
  color: white;
}

.landing__buttons ::ng-deep .dropdown-filter__title {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 10px 30px;
  border: 1px solid white;
}

.landing__buttons ::ng-deep .dropdown-filter__title:hover {
  color: #333;
  background-color: white;
}

.landing__buttons ::ng-deep .dropdown-filter__item {
  min-width: 215px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #262626;
  padding: 8px 33px 8px 12px;
  border-bottom: 1px solid #f0f0f0;
}

.landing__buttons ::ng-deep .dropdown-filter__item:hover {
  background-color: #fbfbfb;
}

